In [3]:
import numpy as np
import pandas as pd
df = pd.concat(pd.read_excel(r'C:\Users\johnp\Downloads\Table 33.12.xlsx', sheet_name=None), ignore_index=True)

In [4]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,Unit
0,ENVIRONMENT & FOREST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Table 33.12 : WATER QUALITY OF A FEW INDIAN RI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.2-11.5,1.1-9.4,2-10.5,4.2-10.2,5.1-10,3.3-9.6,4.4-10.5,3.6-9.4,4.4 - 30,(mg/I)
160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.4-3.5,0.4-4.3,0.3-6.2,0.3-5.7,0.1-3.4,0.4 -5.4,0.3-5.4,0.6-6.3,0.3 - 9.2,(MPN/100 ml)
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.8-27.4,-,-,3-47.2,3.1-15.4,6.1-12.1,4.3-13.5,-,-,pH
162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,360-24x104,360-24x104,NaN,1-24x104,0-24x104,1-24x104,1-24000,0-3000,0 - 15000,(0C)
163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,300-24x104,300-24x104,150-24x104,300-24 x104,0-24x104,0-24x103,0-1100,0-360,0 -1500,(MPN/100 ml)

In [5]:
df.keys()

Index([  'Unnamed: 0',   'Unnamed: 1',   'Unnamed: 2',   'Unnamed: 3',
         'Unnamed: 4',   'Unnamed: 5',   'Unnamed: 6',   'Unnamed: 7',
         'Unnamed: 8',   'Unnamed: 9',  'Unnamed: 10',  'Unnamed: 11',
         'River Name', 'River Length',   'Monitoring',    'Parameter',
                 2001,           2002,           2003,           2004,
                 2005,           2006,           2007,           2008,
                 2009,           2010,           2011,         'Unit'],
      dtype='object')

In [6]:
r_n=pd.DataFrame(df['River Name'].dropna())
r_l=pd.DataFrame(df['River Length'].dropna())
m=pd.DataFrame(df['Monitoring'].dropna())
p=pd.DataFrame(df['Parameter'].dropna())

In [7]:
one=pd.DataFrame(df[2001].dropna())
two=pd.DataFrame(df[2002].dropna())
three=pd.DataFrame(df[2003].dropna())
four=pd.DataFrame(df[2004].dropna())
five=pd.DataFrame(df[2005].dropna())
six=pd.DataFrame(df[2006].dropna())
seven=pd.DataFrame(df[2007].dropna())
eight=pd.DataFrame(df[2008].dropna())
nine=pd.DataFrame(df[2009].dropna())
ten=pd.DataFrame(df[2010].dropna())
eleven=pd.DataFrame(df[2011].dropna())
Unit=pd.DataFrame(df['Unit'].dropna())

In [8]:
file=pd.concat([r_n,r_l,m,p,one,two,three,four,five,six,seven,eight,nine,ten,eleven,Unit],axis = 1)

In [10]:
file

,River Name,River Length,Monitoring,Parameter,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,Unit
100,Ganga,2525*,57#,Temp (0C),10.1-33,3-34,4-34,5-35,4-39,9-33,4-33,2.5-35.5,4-37,4-35,3 - 37,(mg/l)
101,Ganga,2525*,57#,pH,6.1-9.0,6.4-9.0,6.8-8.9,7-8.8,6.1-9,7.0-8.88,6.1-8.8,6.1-8.9,6.5-8.9,6.7-9.0,6.7 - 9.1,(mg/l)
102,Ganga,2525*,57#,Conductivity (µmhos/cm),75-4910,19-2720,49-1323,72-4080,23-1696,97-5620,23-5040,39-6320,68-4460,21-5250,49 - 10240,(µmhos/cm)
103,Ganga,2525*,57#,DO(mg/I),1.2-11.4,207-11.5,4-11,0.3-13.2,3.2-12.8,2.2-11.9,1.4-11,1.2-11.6,4.3-11.2,3.6-12,4 -14.3,(mg/I)
104,Ganga,2525*,57#,BOD(mg/I),0.2-16.5,0.5-16.8,0.8-27,0.7-14.4,0.1-15.2,0.1-16.4,0-14,1.0-36,0.2-16,0.2-15,0.2-11,(MPN/100 ml)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,Brahmaputra,916*,10#,DO(mg/I),4-10.5,1.1-10.5,1.2-11.5,1.1-9.4,2-10.5,4.2-10.2,5.1-10,3.3-9.6,4.4-10.5,3.6-9.4,4.4 - 30,(mg/I)
160,Brahmaputra,916*,10#,BOD(mg/I),0.4-3.7,0.1-3.9,0.4-3.5,0.4-4.3,0.3-6.2,0.3-5.7,0.1-3.4,0.4 -5.4,0.3-5.4,0.6-6.3,0.3 - 9.2,(MPN/100 ml)
161,Brahmaputra,916*,10#,COD(mg/I),5-37.4,6-11,4.8-27.4,-,-,3-47.2,3.1-15.4,6.1-12.1,4.3-13.5,-,-,pH
162,Brahmaputra,916*,10#,Total Coliform(MPN/100 ml),300-11x104,360-240000,360-24x104,360-24x104,NaN,1-24x104,0-24x104,1-24x104,1-24000,0-3000,0 - 15000,(0C)
163,Brahmaputra,916*,10#,Faecal Coliform (MPN/100 ml),300-24x104,30024000,300-24x104,300-24x104,150-24x104,300-24 x104,0-24x104,0-24x103,0-1100,0-360,0 -1500,(MPN/100 ml)

In [11]:
file.columns

Index([  'River Name', 'River Length',   'Monitoring',    'Parameter',
                 2001,           2002,           2003,           2004,
                 2005,           2006,           2007,           2008,
                 2009,           2010,           2011,         'Unit'],
      dtype='object')

In [12]:
f=file.rename(columns={'River Name':'River_Name','River Length':'River_Length'}, index={100:1})

In [13]:
f

,River_Name,River_Length,Monitoring,Parameter,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,Unit
1,Ganga,2525*,57#,Temp (0C),10.1-33,3-34,4-34,5-35,4-39,9-33,4-33,2.5-35.5,4-37,4-35,3 - 37,(mg/l)
101,Ganga,2525*,57#,pH,6.1-9.0,6.4-9.0,6.8-8.9,7-8.8,6.1-9,7.0-8.88,6.1-8.8,6.1-8.9,6.5-8.9,6.7-9.0,6.7 - 9.1,(mg/l)
102,Ganga,2525*,57#,Conductivity (µmhos/cm),75-4910,19-2720,49-1323,72-4080,23-1696,97-5620,23-5040,39-6320,68-4460,21-5250,49 - 10240,(µmhos/cm)
103,Ganga,2525*,57#,DO(mg/I),1.2-11.4,207-11.5,4-11,0.3-13.2,3.2-12.8,2.2-11.9,1.4-11,1.2-11.6,4.3-11.2,3.6-12,4 -14.3,(mg/I)
104,Ganga,2525*,57#,BOD(mg/I),0.2-16.5,0.5-16.8,0.8-27,0.7-14.4,0.1-15.2,0.1-16.4,0-14,1.0-36,0.2-16,0.2-15,0.2-11,(MPN/100 ml)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,Brahmaputra,916*,10#,DO(mg/I),4-10.5,1.1-10.5,1.2-11.5,1.1-9.4,2-10.5,4.2-10.2,5.1-10,3.3-9.6,4.4-10.5,3.6-9.4,4.4 - 30,(mg/I)
160,Brahmaputra,916*,10#,BOD(mg/I),0.4-3.7,0.1-3.9,0.4-3.5,0.4-4.3,0.3-6.2,0.3-5.7,0.1-3.4,0.4 -5.4,0.3-5.4,0.6-6.3,0.3 - 9.2,(MPN/100 ml)
161,Brahmaputra,916*,10#,COD(mg/I),5-37.4,6-11,4.8-27.4,-,-,3-47.2,3.1-15.4,6.1-12.1,4.3-13.5,-,-,pH
162,Brahmaputra,916*,10#,Total Coliform(MPN/100 ml),300-11x104,360-240000,360-24x104,360-24x104,NaN,1-24x104,0-24x104,1-24x104,1-24000,0-3000,0 - 15000,(0C)
163,Brahmaputra,916*,10#,Faecal Coliform (MPN/100 ml),300-24x104,30024000,300-24x104,300-24x104,150-24x104,300-24 x104,0-24x104,0-24x103,0-1100,0-360,0 -1500,(MPN/100 ml)

In [14]:
f.loc[f['River_Name']=='Ganga',:]

Empty DataFrame
Columns: [River_Name, River_Length, Monitoring, Parameter, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, Unit]
Index: []

In [15]:
f.River_Name.unique()

array(['Ganga ', 'Yamuna', 'Narmada', 'Godawari', 'Krishna  ',
       'Cauvery  ', 'Mahanadi', 'Brahmaputra'], dtype=object)

In [16]:
ff=f.reset_index()

In [24]:
fd=ff.drop(['index'], axis=1)

In [25]:
fd

,River_Name,River_Length,Monitoring,Parameter,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,Unit
0,Ganga,2525*,57#,Temp (0C),10.1-33,3-34,4-34,5-35,4-39,9-33,4-33,2.5-35.5,4-37,4-35,3 - 37,(mg/l)
1,Ganga,2525*,57#,pH,6.1-9.0,6.4-9.0,6.8-8.9,7-8.8,6.1-9,7.0-8.88,6.1-8.8,6.1-8.9,6.5-8.9,6.7-9.0,6.7 - 9.1,(mg/l)
2,Ganga,2525*,57#,Conductivity (µmhos/cm),75-4910,19-2720,49-1323,72-4080,23-1696,97-5620,23-5040,39-6320,68-4460,21-5250,49 - 10240,(µmhos/cm)
3,Ganga,2525*,57#,DO(mg/I),1.2-11.4,207-11.5,4-11,0.3-13.2,3.2-12.8,2.2-11.9,1.4-11,1.2-11.6,4.3-11.2,3.6-12,4 -14.3,(mg/I)
4,Ganga,2525*,57#,BOD(mg/I),0.2-16.5,0.5-16.8,0.8-27,0.7-14.4,0.1-15.2,0.1-16.4,0-14,1.0-36,0.2-16,0.2-15,0.2-11,(MPN/100 ml)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,Brahmaputra,916*,10#,DO(mg/I),4-10.5,1.1-10.5,1.2-11.5,1.1-9.4,2-10.5,4.2-10.2,5.1-10,3.3-9.6,4.4-10.5,3.6-9.4,4.4 - 30,(mg/I)
60,Brahmaputra,916*,10#,BOD(mg/I),0.4-3.7,0.1-3.9,0.4-3.5,0.4-4.3,0.3-6.2,0.3-5.7,0.1-3.4,0.4 -5.4,0.3-5.4,0.6-6.3,0.3 - 9.2,(MPN/100 ml)
61,Brahmaputra,916*,10#,COD(mg/I),5-37.4,6-11,4.8-27.4,-,-,3-47.2,3.1-15.4,6.1-12.1,4.3-13.5,-,-,pH
62,Brahmaputra,916*,10#,Total Coliform(MPN/100 ml),300-11x104,360-240000,360-24x104,360-24x104,NaN,1-24x104,0-24x104,1-24x104,1-24000,0-3000,0 - 15000,(0C)
63,Brahmaputra,916*,10#,Faecal Coliform (MPN/100 ml),300-24x104,30024000,300-24x104,300-24x104,150-24x104,300-24 x104,0-24x104,0-24x103,0-1100,0-360,0 -1500,(MPN/100 ml)

In [36]:
fg=fd.loc[fd['River_Name']=='Ganga ',:]

In [37]:
fg

,River_Name,River_Length,Monitoring,Parameter,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,Unit
0,Ganga,2525*,57#,Temp (0C),10.1-33,3-34,4-34,5-35,4-39,9-33,4-33,2.5-35.5,4-37,4-35,3 - 37,(mg/l)
1,Ganga,2525*,57#,pH,6.1-9.0,6.4-9.0,6.8-8.9,7-8.8,6.1-9,7.0-8.88,6.1-8.8,6.1-8.9,6.5-8.9,6.7-9.0,6.7 - 9.1,(mg/l)
2,Ganga,2525*,57#,Conductivity (µmhos/cm),75-4910,19-2720,49-1323,72-4080,23-1696,97-5620,23-5040,39-6320,68-4460,21-5250,49 - 10240,(µmhos/cm)
3,Ganga,2525*,57#,DO(mg/I),1.2-11.4,207-11.5,4-11,0.3-13.2,3.2-12.8,2.2-11.9,1.4-11,1.2-11.6,4.3-11.2,3.6-12,4 -14.3,(mg/I)
4,Ganga,2525*,57#,BOD(mg/I),0.2-16.5,0.5-16.8,0.8-27,0.7-14.4,0.1-15.2,0.1-16.4,0-14,1.0-36,0.2-16,0.2-15,0.2-11,(MPN/100 ml)
5,Ganga,2525*,57#,COD(mg/I),5-59.0,1.30,2-47.2,-,1.0-37.6,4-38.4,2.6-30,1-34,2-34.2,-,-,pH
6,Ganga,2525*,57#,Total Coliform(MPN/100 ml),80-35x105,300-25x105,47-45x105,11-45x105,13-45x105,1-25x105,0-28x105,0-101x105,2.65x104,3-14x105,5 - 25x105,(0C)
7,Ganga,2525*,57#,Faecal Coliform (MPN/100 ml),8-25x105,20-11x105,26-12x105,11-7x105,13-11x105,17-11x105,0-7x105,0-85x104,0-4x105,2-4x105,5-11x105,(MPN/100 ml)

In [45]:
pd.melt(fg,id_vars=['River_Name','River_Length','Monitoring','Parameter','Unit'],value_vars=[2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011],value_name='Value')

,River_Name,River_Length,Monitoring,Parameter,Unit,variable,Value
0,Ganga,2525*,57#,Temp (0C),(mg/l),2001,10.1-33
1,Ganga,2525*,57#,pH,(mg/l),2001,6.1-9.0
2,Ganga,2525*,57#,Conductivity (µmhos/cm),(µmhos/cm),2001,75-4910
3,Ganga,2525*,57#,DO(mg/I),(mg/I),2001,1.2-11.4
4,Ganga,2525*,57#,BOD(mg/I),(MPN/100 ml),2001,0.2-16.5
...,...,...,...,...,...,...,...
83,Ganga,2525*,57#,DO(mg/I),(mg/I),2011,4 -14.3
84,Ganga,2525*,57#,BOD(mg/I),(MPN/100 ml),2011,0.2-11
85,Ganga,2525*,57#,COD(mg/I),pH,2011,-
86,Ganga,2525*,57#,Total Coliform(MPN/100 ml),(0C),2011,5 - 25x105
87,Ganga,2525*,57#,Faecal Coliform (MPN/100 ml),(MPN/100 ml),2011,5-11x105

In [47]:
final=pd.melt(fd,id_vars=['River_Name','River_Length','Monitoring','Parameter','Unit'],value_vars=[2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011],value_name='Value')

In [48]:
final

,River_Name,River_Length,Monitoring,Parameter,Unit,variable,Value
0,Ganga,2525*,57#,Temp (0C),(mg/l),2001,10.1-33
1,Ganga,2525*,57#,pH,(mg/l),2001,6.1-9.0
2,Ganga,2525*,57#,Conductivity (µmhos/cm),(µmhos/cm),2001,75-4910
3,Ganga,2525*,57#,DO(mg/I),(mg/I),2001,1.2-11.4
4,Ganga,2525*,57#,BOD(mg/I),(MPN/100 ml),2001,0.2-16.5
...,...,...,...,...,...,...,...
699,Brahmaputra,916*,10#,DO(mg/I),(mg/I),2011,4.4 - 30
700,Brahmaputra,916*,10#,BOD(mg/I),(MPN/100 ml),2011,0.3 - 9.2
701,Brahmaputra,916*,10#,COD(mg/I),pH,2011,-
702,Brahmaputra,916*,10#,Total Coliform(MPN/100 ml),(0C),2011,0 - 15000
703,Brahmaputra,916*,10#,Faecal Coliform (MPN/100 ml),(MPN/100 ml),2011,0 -1500

In [67]:
ch=final.replace('\*','',regex=True).astype(str)

In [69]:
eh=ch.replace('\#','',regex=True).astype(str)

In [70]:
eh

,River_Name,River_Length,Monitoring,Parameter,Unit,variable,Value
0,Ganga,2525,57,Temp (0C),(mg/l),2001,10.1-33
1,Ganga,2525,57,pH,(mg/l),2001,6.1-9.0
2,Ganga,2525,57,Conductivity (µmhos/cm),(µmhos/cm),2001,75-4910
3,Ganga,2525,57,DO(mg/I),(mg/I),2001,1.2-11.4
4,Ganga,2525,57,BOD(mg/I),(MPN/100 ml),2001,0.2-16.5
...,...,...,...,...,...,...,...
699,Brahmaputra,916,10,DO(mg/I),(mg/I),2011,4.4 - 30
700,Brahmaputra,916,10,BOD(mg/I),(MPN/100 ml),2011,0.3 - 9.2
701,Brahmaputra,916,10,COD(mg/I),pH,2011,-
702,Brahmaputra,916,10,Total Coliform(MPN/100 ml),(0C),2011,0 - 15000
703,Brahmaputra,916,10,Faecal Coliform (MPN/100 ml),(MPN/100 ml),2011,0 -1500

In [78]:
file_=eh.rename(columns={'River_Name':'river_names','River_Length':'river_length','Monitoring':'monitoring_locations','Parameter':'parameters','Unit':'unit','Value':'value','variable':'year'})

In [79]:
file_

,river_names,river_length,monitoring_locations,parameters,unit,year,value
0,Ganga,2525,57,Temp (0C),(mg/l),2001,10.1-33
1,Ganga,2525,57,pH,(mg/l),2001,6.1-9.0
2,Ganga,2525,57,Conductivity (µmhos/cm),(µmhos/cm),2001,75-4910
3,Ganga,2525,57,DO(mg/I),(mg/I),2001,1.2-11.4
4,Ganga,2525,57,BOD(mg/I),(MPN/100 ml),2001,0.2-16.5
...,...,...,...,...,...,...,...
699,Brahmaputra,916,10,DO(mg/I),(mg/I),2011,4.4 - 30
700,Brahmaputra,916,10,BOD(mg/I),(MPN/100 ml),2011,0.3 - 9.2
701,Brahmaputra,916,10,COD(mg/I),pH,2011,-
702,Brahmaputra,916,10,Total Coliform(MPN/100 ml),(0C),2011,0 - 15000
703,Brahmaputra,916,10,Faecal Coliform (MPN/100 ml),(MPN/100 ml),2011,0 -1500

In [80]:
file_.keys()

Index(['river_names', 'river_length', 'monitoring_locations', 'parameters',
       'unit', 'year', 'value'],
      dtype='object')

In [85]:
final_file=file_[['river_names', 'river_length','monitoring_locations','parameters','year','value','unit']]

In [86]:
final_file

,river_names,river_length,monitoring_locations,parameters,year,value,unit
0,Ganga,2525,57,Temp (0C),2001,10.1-33,(mg/l)
1,Ganga,2525,57,pH,2001,6.1-9.0,(mg/l)
2,Ganga,2525,57,Conductivity (µmhos/cm),2001,75-4910,(µmhos/cm)
3,Ganga,2525,57,DO(mg/I),2001,1.2-11.4,(mg/I)
4,Ganga,2525,57,BOD(mg/I),2001,0.2-16.5,(MPN/100 ml)
...,...,...,...,...,...,...,...
699,Brahmaputra,916,10,DO(mg/I),2011,4.4 - 30,(mg/I)
700,Brahmaputra,916,10,BOD(mg/I),2011,0.3 - 9.2,(MPN/100 ml)
701,Brahmaputra,916,10,COD(mg/I),2011,-,pH
702,Brahmaputra,916,10,Total Coliform(MPN/100 ml),2011,0 - 15000,(0C)
703,Brahmaputra,916,10,Faecal Coliform (MPN/100 ml),2011,0 -1500,(MPN/100 ml)

In [87]:
final_file.to_csv (r'C:\Users\johnp\Music\Data Analytics\mospi_33_12_(K_Prashanth).csv', index = None, header=True)